.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.logout-button {
    padding: 10px 15px; /* Internal padding for the logout button */
    background-color: #d9534f; /* Red background for the logout button */
    color: white; /* White text on the logout button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor change on button */
    position: absolute; /* Absolute positioning */
    top: 10px; /* Adjust top position */
    right: 10px; /* Adjust right position */
}

h2 {
    font-size: 28px; /* Збільшений розмір шрифту */
    font-family: 'Arial', sans-serif; /* Гарний шрифт */
    font-weight: bold; /* Товстий шрифт для кращого акценту */
    color: #333; /* Приємний темно-сірий колір */
    text-align: left; /* Вирівнювання по лівій стороні */
    margin-bottom: 5px; /* Відступ знизу для простору */
    padding-left: 15px; /* Відступ зліва для кращого вигляду */
}

.back-button {
    background-color: #f08080; /* Легкий червоний колір, що добре контрастує з блідно-жовтим фоном */
    color: white; /* Білий текст для контрасту */
    font-size: 24px; /* Збільшений розмір тексту */
    padding: 15px 30px; /* Внутрішні відступи для зручного натискання */
    border: none; /* Без обвідки */
    border-radius: 10px; /* Заокруглені краї */
    cursor: pointer; /* Курсор у вигляді руки при наведенні */
    font-family: 'Arial', sans-serif; /* Гарний і зручний для читання шрифт */
    transition: background-color 0.3s ease; /* Ефект при наведенні */
    display: block; /* Забезпечує, що кнопка буде на окремому рядку */
    margin: 20px auto; /* Вирівнює кнопку по центру і додає відступи зверху і знизу */
}

.back-button:hover {
    background-color: #e57373; /* Трохи темніший відтінок червоного при наведенні */
}


