/* src/components/CategorySelector/CategorySelector.css */

.category-selector {
    display: flex;
    flex-direction: column; /* Кнопки у стовпчик */
    padding: 10px; /* Внутрішні відступи */
}

h2 {
    margin-bottom: 15px; /* Відступ між заголовком і кнопками */
}

.categories-container {
    display: flex;
    flex-direction: column; /* Вирівнюємо кнопки вертикально */
}

.category-button {
    width: 100%; /* Кнопка на всю ширину */
    padding: 15px; /* Внутрішні відступи для зручності натискання */
    margin-bottom: 10px; /* Відстань між кнопками */
    background-color: #4CAF50; /* Колір фону кнопки */
    color: white; /* Колір тексту */
    border: none; /* Без межі */
    border-radius: 5px; /* Закруглені краї */
    font-size: 16px; /* Розмір шрифту */
    cursor: pointer; /* Курсор на кнопках */
}

.category-button:hover {
    background-color: #45a049; /* Зміна кольору при наведенні */
}
