.category-selector {
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-button {
    padding: 15px 30px;
    font-size: 35px;  /* Збільшено розмір тексту для зручності */
    border: 3px solid #ddd;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.category-button:hover {
    background-color: #45a049;
}

.category-button:active {
    background-color: #3e8e41;
}
