.category-selector {
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-button {
    padding: 15px;
    font-size: 30px; /* Зробіть текст більшим */
    margin: 15px 0; /* Відстань між кнопками */
    width: 100%; /* Зробіть кнопку на всю ширину */
}

.logout-button {
    position: absolute; /* Розмістіть кнопку в правому верхньому куті */
    right: 10px;
    top: 10px;
    padding: 10px;
    font-size: 30px;
}


.category-button:hover {
    background-color: #45a049;
}

.category-button:active {
    background-color: #3e8e41;
}
