/* src/components/ProductItem/ProductItem.css */

.product {
    border: 1px solid #ccc; /* Оформлення межі */
    border-radius: 8px; /* Заокруглені краї */
    padding: 16px; /* Внутрішні відступи */
    text-align: center; /* Вирівнювання тексту по центру */
    background-color: #fff; /* Білий фон для картки продукту */
}

.img {
    width: 100%; /* Ширина контейнера для зображення */
    height: 150px; /* Фіксована висота */
    overflow: hidden; /* Сховати частини зображення, які виходять за межі */
    border-radius: 5px; /* Заокруглені краї для контейнера */
}

.img img {
    width: 100%; /* Ширина зображення заповнює контейнер */
    height: auto; /* Автоматична висота для збереження пропорцій */
    max-height: 150px; /* Максимальна висота зображення */
    object-fit: cover; /* Обрізати зображення, щоб заповнити контейнер */
}

.title {
    font-size: 1.2em; /* Розмір шрифту для заголовка */
    margin: 8px 0; /* Відступи */
}

.description {
    font-size: 0.9em; /* Розмір шрифту для опису */
    color: #666; /* Колір тексту для опису */
}

.price {
    font-weight: bold; /* Жирний текст для ціни */
    margin: 8px 0; /* Відступи */
}

.add-btn {
    margin-top: 10px; /* Відступ зверху для кнопки */
}
