.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    background-color: #2c3e50; /* Темний фон для карток продуктів */
    color: #ecf0f1; /* Світлий текст для кращого контрасту */
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.product:hover {
    transform: scale(1.05); /* Анімація при наведенні */
}

.img {
    width: 100%;
    background: lightgray;
    height: 150px; /* Збільшений розмір зображення */
    margin: 0 auto;
    background: var(--tg-theme-button-color);
    border-radius: 5px;
}

.description {
    font-size: 1em;
    margin-top: 10px;
    color: #bdc3c7; /* Світло-сірий колір для тексту опису */
}

.add-btn {
    width: 100%;
    margin-top: 10px;
    background-color: #e74c3c; /* Червона кнопка */
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #c0392b; /* Темніший відтінок при наведенні */
}
