* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffacd; /* Ніжно блідно-жовтий колір */
  margin: 0; /* Забрати зовнішні відступи для body */
  padding: 0; /* Забрати внутрішні відступи для body */
  min-height: 100vh; /* Забезпечити, що сторінка займає всю висоту екрана */
  box-sizing: border-box; /* Враховує відступи всередині елементів */
}
